:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
a:active {
  color: var(--ocean);
}
a:hover {
  color: var(--green);
}
a {
  text-decoration: none;
}

.button:hover {
  background-color: var(--iris);
}
.body-section {
  font-family: var(--font-family);
  font-weight: ;
}
.logo-web {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-studio {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}
.hero-section {
  background-color: var(--navy-blue);
}
.hero-title {
  color: var(--white);
}
.footer-section {
  background-color: var(--navy-blue);
}
.footer-web {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.footer-studio {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}
.footer-paragraph {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

/* END OF BASE STYLES */
.container-webstudio {
  display: flex;
}
.container-spc {
  display: flex;
  justify-content: center;
}
.container-contacts {
  display: flex;
  justify-content: end;
}
.container-hero-title {
  display: flex;
  justify-content: center;
}
.container-button {
  display: flex;
  justify-content: center;
}
.container-strategy {
  display: flex;
  justify-content: center;
}
.container-feature {
  display: flex;
  flex-direction: row;
}
.container-what-are-we-doing-title {
  display: flex;
  justify-content: center;
}
.container-svc-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}
.container-our-team-title {
  display: flex;
  justify-content: center;
}
.container-our-team-picture {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.container-footer-logo {
  display: flex;
  flex-direction: row;
}
